.requestCardContainer {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../assets/images/screen_5/Background.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3rem 2rem;
}

.requestCardHeader {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.requestCardHeader h1 {
    color: #DEDCDC;
}

.requestCardHeader p {
    color: #DEDCDC;
    text-align: start;

}

.requestCardText {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}

.sectionCards {
    margin-top: 3rem;
}

.divCard {
    position: relative;
    /* border: 1px solid red; */
}

.skew {
    width: 10rem;
    position: absolute;
    top: 5rem;
    left: 4.8rem;
    /* height: 50px; */
    /* transform: skew(20deg); */
    /* border: 1px solid red; */
    transform: rotate(-8deg);
    
}

.textSkew {
    text-transform: uppercase;
    color: #b7a7a7;
    font-family: var(--dosis);
    font-size: 12px;
    font-weight: 600;
}

.skew2 {
    width: 10rem;
    position: absolute;
    top: 5.4rem;
    left: 4.2rem;
    /* height: 50px; */
    /* transform: skew(20deg); */
    /* border: 1px solid red; */
    transform: rotate(8deg);
    
}

.textSkew2 {
    text-transform: uppercase;
    color: #9a9696;
    font-family: var(--dosis);
    font-size: 12px;
    font-weight: 600;
}

.divCard2 {
    position: relative;
    margin-top: 2rem;
    /* border: 1px solid red; */
}